<div class="container">
    <h1>Books</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Date published</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (book of books; track $index) {
            <tr>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.datePublished | date}}</td>
                <td><button (click)="removeFromFavorites(book.id)" class="btn btn-danger">Remove from favorites</button></td>
                @if (integration.user?.roles == "ADMIN") {
                    <td><button (click)="editBook(book.id)" class="btn btn-primary">Edit</button></td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>